@import './base.css';

#app {
  width: 100vw;
  height: 100vh;

  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    padding: 0 1rem;
  }
}

.resizable {
  resize: both;
  overflow: hidden;
}

.draggable {
  cursor: grab;
}