@import './base.css';

:root {
  --adventure-background-color: rgb(0, 0, 0);
  --mapbox-attribution-font-size: 0.75vw;
}

#app {
  width: 100vw;
  height: 100vh;

  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    padding: 0 1rem;
  }
}

.resizable {
  resize: both;
  overflow: hidden;
}

.resizable:hover {

  svg,
  p {
    box-shadow: inset 0px 0px 0px 2px var(--inverted-adventure-background-color);
  }
}

.resizable-vertical {
  resize: vertical;
  overflow: hidden;
}

.draggable {
  cursor: grab;
}